*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Joan', serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Poppins', sans-serif;
}

body{
    background-color: hsla(0,0,90);
}
main{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parent{
    display: flex;
    
}
.child-one{
    width: 33%;
    background-color:hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
    
}
.child-two{
    width: 33%;
    background-color: hsl(184, 100%, 22%);
}
.child-three{
    width: 33%;
    border-radius: 0 10px 10px 0;
    
    background-color: hsl(179, 100%, 13%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    padding: 10px 20px 10px 25px; 
    font-size: 15px;
    padding-bottom: 20px;
    font-family:'lexend deca';
    font-weight: 400px;
    font-size: 14px;
    

}
h4{
    color: hsla(0, 0%, 100%, 0.75);
    padding: 5px 0 10px 25px;  
    font-family:'lexend deca';
    font-size: 20px;
}
.btn-sedans {
    display: flex;
    margin: 40px 0 40px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px 10px;
    background-color: #fff;
    color: hsl(31, 77%, 52%);
    font-family:'lexend deca';
}
.btn-suvs {
    display: flex;
    margin: 40px 0 40px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px 10px;
    background-color: #fff;
    color: hsl(184, 100%, 22%);
    font-family:'lexend deca';
}
.btn-luxury {
    display: flex;
    margin: 40px 0 40px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px 10px;
    background-color: #fff;
    color:hsl(179, 100%, 13%);
    font-family:'lexend deca';
}






.parent .child-one img{
    align-items: center;
    padding: 25px 25px;
}
.parent .child-two img{
    align-items: center;
    padding: 25px 25px;
}
.parent .child-three img{
    align-items: center;
    padding: 25px 25px;
}